body {
  background-image: url("../images/star-wars-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*** Images Clicked ***/
.img-thumbnail {
  background-color: green;
  border: 2px solid green;
  height: 100px;
  width: 100px;
}

/*** Images- Enemies ***/

.enemy {
  background-color: red;
  border: 2px solid red;
  height: 100px;
  width: 100px;
}

.chosen-character .img-thumbnail {
  height: 150px;
  width: 150px;
}

.defender-character .img-thumbnail {
  height: 150px;
  width: 150px;
}

.enemy-character {
  display: inline-block;
  /*background-color: red;
  border: 2px solid red;
  height: 100px;
  width: 100px;*/
}

#enemies-div {

}



#game-message {
	font-size: 1.5em;
	font-weight: bold;
    color: 	black;
}
