body {
  background-image: url("../images/star-wars-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*** Images Clicked ***/
.img-thumbnail {
  background-color: green;
  border: 2px solid green;
  height: 100px;
  width: 100px;
}

/*** Images- Enemies ***/

.enemies {
  background-color: red;
  border: 2px solid red;
  height: 100px;
  width: 100px;
}
